.traffic {
    height: 300px;
    width: 150px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.red {
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50px;
    /* align-items: center; */
}
.yellow {
    height: 80px;
    width: 80px;
    background-color: yellow;
    border-radius: 50px;
}
.green {
    height: 80px;
    width: 80px;
    background-color: green;
    border-radius: 50px;
}