p {
        font-family: Arial;
        font-weight: bold;
        font-size: 40px;
        margin: 0;
        
    }
    .USD {
        color: rgb(113, 111, 111);
        font-weight: normal;
        font-size: 20px;
        
    }
    .rate {
        color: rgb(0,150, 0);
        font-size: 21px;
    }
    .loss {
       font-size: 15px;
       color:rgb(113, 111, 111); 
        margin-top: 8px;
    }
    .loss2 {
       
        color: red;
    }