p {
        font-family: verdana;
    }

    .heading {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 0;
    }

    .line-2 {
        color: rgb(113, 111, 111);
        margin-top: 5px;
        font-size: 27px;
    }

    .line-3 {
        font-weight: bold;
        font-size: 25px;
        width: 500px;;
    }

    .button {
        background-color: green;
        color: white;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border: none;
        border-radius: 10px;
       
    }
   
    :hover.button {
        cursor: pointer;
    }
