.header {
    z-index: 100;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(205, 203, 203);
}
.left-section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px; 
    margin-right: 24px;
}
.youtube-logo {
    height: 20px;
}
.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
}
.search-box {
    height: 40px;
    flex: 1;
    width: 0;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 200, 200);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
.search-box::placeholder {
    font-family: Roboto;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    border-width: 1px;
    border-style: solid;
    /* margin-left: -1px; */
    border-color: rgb(206, 200, 200);
    margin-right: 10px;
    

}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notification-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notification-icon-container .tooltip{
    opacity: 0;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 1px;
    font-size: 12px;
    font-family: Roboto, Arial;
    bottom: -40px;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
/* .search-button:hover {
    background-color: rgb(211, 210, 210);
} */
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    border-color: rgb(0, 0, 0);
}
.voice-search-icon {
    height: 23px;
    background-color: rgb(240, 240, 240);
}
.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}
.youtube-apps-icon {
    height: 24px;
}

.notification-icon {
    height: 24px;
}
.notification-icon-container {
    position: relative;
}
.notification-count {
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: rgb(174, 3, 3);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.channel-profile {
    height: 32px;
    width: 32px;
    border-radius: 16px;

}


