        .thumbnail {
            width: 100%;
        }

        .search-bar {
            display: block;
            font-size: 20px;
            border-width: 1px;
        }

        .video-title {

            margin-top: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 12px;
        }

        .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
        }

        .channel-picture {
            display: inline-block;
            width: 35px;
            border-radius: 0px;
            vertical-align: top;
        }

        .video-info {
            display: inline-block;
            width: 1fr ;
        }
        .video-preview {
            display: grid;
            grid-template-rows: 1fr;
        }
        .profile-picture {
            width: 100%;
            border-radius: 30px;
        }

        .thumbnail-row {
            margin-bottom: 5px;
            position: relative;
        }
        .video-time {
            position: absolute;
            background-color: black;
            color: white;
            bottom: 10px;
            right: 10px;
            font-family: Roboto, Arial;
            font-size: 12px;
            font-weight: 500;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 3px;
            padding-left: 3px;
            border-radius: 3px;
        }

        .video-author,
        .video-stats {
            font-size: 12px;
            color: rgb(96, 96, 96);
        }

        .video-author {
            margin-bottom: 4px;
        }

        .video-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }

        @media (max-width: 1000px) {
            .video-grid {
                grid-template-columns: 1fr 1fr;
            }
        }